{% extends 'base/base.html' %}

{% block header %}
{% include 'licoreria/menuAdministrador.html' %}
{% endblock %}

{% block content %}
<div class="container mt-3">
  <h2 align="center">Bienvenido Administrador {{ user.first_name }} {{ user.last_name }}</h2>
  <div class = "container mt-5">
    <img src="https://www.itl.cat/pngfile/big/33-330677_static-cocktail-iphone-6-plus-wallpaper-dash-vodka.jpg"  style="width:20%" class="img-fluid">
  <img src="https://media.istockphoto.com/photos/vintage-lamps-with-blurred-liquor-bar-picture-id1013512510?k=6&m=1013512510&s=170667a&w=0&h=_uOFAq2Y_4Dngy2eZmZvA_j5qMZ3PJqRKRDVA-sSc1g="  style="width:50%" class="img-fluid">
  <img src="https://www.itl.cat/pngfile/big/33-330677_static-cocktail-iphone-6-plus-wallpaper-dash-vodka.jpg"  style="width:20%" class="img-fluid">
  </div>
</div>
{% endblock %}
