{% extends 'base/base.html' %}

{% block header %}
{% include 'licoreria/menuCliente.html' %}
{% endblock %}

{% block content %}
<div class="container mt-3">
  <h2 align="center">Bienvenido a LALICORERIA.COM Cliente {{ user.first_name }} {{ user.last_name }}</h2>
  <div class = "container mt-5">
    <img src="https://gallery.yopriceville.com/var/albums/Free%20Smartphone%20Wallpapers/Cigar_and_Whiskey_iPhone_6S_Plus_Wallpaper.jpg?m=1448356068"  style="width:20%" class="img-fluid">
  <img src="https://licoreselbacan.files.wordpress.com/2014/11/1513999_356770007796681_406815190_n1.jpg"  style="width:50%" class="img-fluid">
  <img src="https://gallery.yopriceville.com/var/albums/Free%20Smartphone%20Wallpapers/Cigar_and_Whiskey_iPhone_6S_Plus_Wallpaper.jpg?m=1448356068"  style="width:20%" class="img-fluid">
  </div>
</div>
{% endblock %}
