{% extends 'base/base.html' %}

{% block header %}
{% include 'licoreria/menu.html' %}
{% endblock %}

{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3>Registar Producto</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
