{% extends 'base/base.html' %}

{% block header %}
{% include 'licoreria/menuAdministrador.html' %}
{% endblock %}

{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class = "col-3"></div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3>Añadir al Carrito de Compras</h3>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
          <div class="alert alert-primary" role="alert">
            Desea añadir el producto {{ producto.nombre }}
          </div>
          <button type="submit" class="btn btn-primary">Añadir</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
