{% extends 'base/base.html' %}

{% block header %}
{% if user.groups.all.0.name == 'cliente' %}
{% include 'licoreria/menuCliente.html' %}
{% else %}
{% include 'licoreria/menuAdministrador.html' %}
{% endif %}
{% endblock %}

{% block content %}
{% if user.groups.all.0.name != 'cliente'%}
<div class="container mt-3">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h3>Consultar Cliente</h3>
        </div>
        <div class="card-body">
          <table class = "table table-striped table-hover">
            <thead>
              <tr>
                <th>Id
                  {% if orden == 'id_cliente'%}
                    <i class="fas fa-sort-down"></i>
                  {% else %}
                    <a href = "{% url 'ConsultarCliente' 'id_cliente'%}"> <i class="fas fa-sort" data-toggle="tooltip" data-placement="bottom" title="Ordenar"></i></a>
                  {% endif %}
                </th>
                <th>Nombre
                  {% if orden == 'nombre'%}
                    <i class="fas fa-sort-down"></i>
                  {% else %}
                    <a href = "{% url 'ConsultarCliente' 'nombre'%}"> <i class="fas fa-sort" data-toggle="tooltip" data-placement="bottom" title="Ordenar"></i></a>
                  {% endif%}
                </th>
                <th>Apellido
                  {% if orden == 'apellido'%}
                    <i class="fas fa-sort-down"></i>
                  {% else %}
                    <a href = "{% url 'ConsultarCliente' 'apellido'%}"> <i class="fas fa-sort" data-toggle="tooltip" data-placement="bottom" title="Ordenar"></i></a>
                  {% endif%}
                </th>
                <th>Cédula</th>
                <th>Fecha de nacimiento</th>
                <th>Teléfono</th>
                <th>Correo</th>
              </tr>
            </thead>
            <tbody>
              {% if clientes %}
              {% for cliente in clientes %}
              <tr>
                <td>{{ cliente.id_cliente }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido}}</td>
                <td>{{ cliente.cedula }}</td>
                <td>{{ cliente.fecha_nacimiento}}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.correo}}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
